@font-face {
  font-family: "3webicons";
  src: url(./fonts/3webicons.ttf?qa8gu7) format("truetype"),
    url(./fonts/3webicons.woff?qa8gu7) format("woff"),
    url(./fonts/3webicons.svg?qa8gu7#3webicons) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class^="fa-"],
[class*=" fa-"] {
  font-family: "3webicons" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook:before {
  content: "\e900";
}
.fa-twitter:before {
  content: "\ea96";
}
.fa-firefox-browser:before {
  content: "\eada";
}
