@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

* {
  scroll-behavior: smooth;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  line-height: 1.7;
  color: #276678;
  font-weight: 300;
  font-size: 1rem;
  background: #f6f5f5;
}

.btn-custom:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#276678),
    color-stop(70%, #1687a7)
  );
  background: -webkit-linear-gradient(left, #276678, #1687a7 70%);
  background: -o-linear-gradient(left, #276678, #1687a7 70%);
  background: linear-gradient(to right, #276678, #1687a7 70%);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  z-index: 1;
}

.btn-custom > span {
  position: relative;
  z-index: 2;
}

.content-blank::after {
  content: "";
}

.btn-custom-hover-not-focus:hover:not(:focus) {
  color: #f6f5f5;
}
.btn-custom-hover-not-focus:hover:not(:focus)::before {
  width: 100%;
}
